/* The Images are used from pixbay */
.container-fluid {
    background-color: #c2bbbb;
    background-image: url('./../../../../assets/rupee-4395462.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.row {
    height: 100%;
}

.login-form {
    height: 100%;
    background-color: #59246e;
    background: linear-gradient(90deg, #5D54A4, #7C78B8);
    padding: 100px 100px 0px;
    box-shadow: 6px 4px 15px #000000;
}

.info-container {
    display: block;
    padding-top: 100px;
    padding-left: 100px;
}

.info-inner-container {
    height: 400px;
    position: relative;
    width: 650px;
    background: #fbdf07;
    box-sizing: border-box;
    font-size: 56px;
    line-height: 60px;
    padding: 30px 45px;
    border: none;
    border-radius: 4px;
    box-shadow: 4px 3px 15px #000000;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Lobster', cursive;
    word-spacing: 10px;
}


.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #6C63AC;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #7E7BB9;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.info-backgroud {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.info-screen-bg1 {
    height: 400px;
    width: 400px;
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 60px;
    background-image: linear-gradient(#FF7F3F, #c54200);
}

.info-screen-bg2 {
    height: 200px;
    width: 500px;
    transform: rotate(45deg);
    position: absolute;
    top: -16px;
    left: 286px;
    border-radius: 60px;
    background-image: linear-gradient(#FF7F3F, #c54200);
}

.info-screen-bg3 {
    height: 200px;
    width: 500px;
    transform: rotate(-45deg);
    position: absolute;
    top: 229px;
    left: 286px;
    border-radius: 60px;
    background-image: linear-gradient(#c54200, #FF7F3F);
}

.title {
    position: relative;
    z-index: 4;
    color: #5d54a4;
    text-shadow: 1px 1px 1px;
}

.title-login {
    display: block;
    font-size: 22px;
    color: #7a7a7a;
    text-align: center;
    margin: 21px auto 30px;
    font-family: 'Lobster', cursive;
}

.info-para {
    position: relative;
    width: 350px;
    font-size: 24px;
    word-spacing: 2px;
    margin-top: 60px;
    z-index: 5;
    color: #FBDF07;
    line-height: 30px;
}

.form-field {
    width: 100%;
    margin: 0px auto 0px;
}

.submit-btn {
    width: 80%;
    margin: 30px auto 15px;
    display: block;
    background-color: #ed6b2a;
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .info-container{
        display: none;
    }
    .login-form{
        width: 90%;
        margin: 70px auto;
        padding: 40px 15px;
        height: 70%;
        overflow-y: scroll;
    }
    .row {
        background-color: rgba(0, 0, 0, 0.7);
    }
    
}