<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7 info-container">
        <div class="info-inner-container">
            <div class="info-backgroud">
                <span class="info-screen-bg1"></span>
                <span class="info-screen-bg2"></span>
                <span class="info-screen-bg3"></span>
            </div>
            <div class="title">
                Ravi Expense Management System
            </div>
            <p class="info-para">
                Wooo Ho !!!, Now you can manage you expenses with ease.
            </p>
        </div>
    </div>
    <div class="col-sm-5 login-form">
        <div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>	
      <mat-tab-group>
        <mat-tab label="Log In"> &nbsp; </mat-tab>
        <mat-tab label="Sign Up"> Content 2 </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
