<div class="container-fluid">
  <app-header></app-header>
  <div class="custom-flex-container">
    <div class="info-container">
      <div class="info-backgroud">
        <span class="info-screen-bg1"></span>
        <span class="info-screen-bg2"></span>
        <span class="info-screen-bg3"></span>
      </div>
      <div class="title">Ravi Expense Management System</div>
      <p class="info-para">
        Wooo Ho !!!, Now you can manage you expenses with ease.
      </p>
      <div class="row cards">
        <div class="col-sm-2 card exp-more-90">
          Last Month Expense (Aug 2022)
          <div class="expense-bar">
            <mat-progress-bar
              mode="determinate"
              value="90"
              [color]="'warn'"
            ></mat-progress-bar>
          </div>
          <div class="amount">
            <i class="bi bi-currency-rupee"></i> 90000.00
          </div>
        </div>
        <div class="col-sm-2 card exp-less-50">
          last Day Expense (07 Sep 2022)
          <div class="expense-bar">
            <mat-progress-bar
              mode="determinate"
              value="30"
              [color]="'primary'"
            ></mat-progress-bar>
          </div>
          <div class="amount"><i class="bi bi-currency-rupee"></i> 100.00</div>
        </div>
        <div class="col-sm-2 card exp-more-50">
          last Year Expense (2021)
          <div class="expense-bar">
            <mat-progress-bar
              mode="determinate"
              value="60"
              [color]="'accent'"
            ></mat-progress-bar>
          </div>
          <div class="amount"><i class="bi bi-currency-rupee"></i> 1000.00</div>
        </div>
        <div class="col-sm-2 card">
          Tax Calculation (2022-2023)
          <div class="amount">
            <i class="bi bi-currency-rupee"></i> 10000.00
          </div>
        </div>
        <div class="col-sm-2 card">
          Amount Due (Sep 2022)
          <div class="amount">
            <i class="bi bi-currency-rupee"></i> 10000.00
          </div>
        </div>
        <div class="col-sm-2 card">
          Last Due Date
          <div class="amount">15 Sep 2022</div>
        </div>
      </div>
    </div>
    <div class="login-form">
      <div class="screen__background">
        <span
          class="screen__background__shape screen__background__shape4"
        ></span>
        <span
          class="screen__background__shape screen__background__shape3"
        ></span>
        <span
          class="screen__background__shape screen__background__shape2"
        ></span>
        <span
          class="screen__background__shape screen__background__shape1"
        ></span>
      </div>
      <form class="login" [formGroup]="form">
        <div class="title-login">Welcome to REMS</div>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email Id</mat-label>
          <input
            type="text"
            matInput
            placeholder="Enter your Email Id"
            formControlName="userId"
          />
          <mat-error *ngIf="form.controls['userId'].invalid">
            <span
              *ngIf="
                form.controls['userId'].errors
                  ? form.controls['userId'].errors['required']
                  : ''
              "
              >Please enter your Email Id</span
            >
            <span
              *ngIf="
                form.controls['userId'].errors
                  ? form.controls['userId'].errors['email']
                  : ''
              "
              >Please enter Valid Email Id</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input
            [type]="isShowPassword() ? 'text' : 'password'"
            matInput
            placeholder="Enter your Password"
            formControlName="password"
          />
          <mat-icon
            matSuffix
            class="visi-icon"
            (click)="onShowPassword()"
            *ngIf="!isShowPassword()"
            >visibility</mat-icon
          >
          <mat-icon
            matSuffix
            class="visi-icon"
            (click)="onShowPassword()"
            *ngIf="isShowPassword()"
            >visibility_off</mat-icon
          >
          <mat-error *ngIf="form.controls['password'].invalid">
            <span
              *ngIf="
                form.controls['password'].errors
                  ? form.controls['password'].errors['required']
                  : ''
              "
              >Please enter your Password</span
            >
            <span
              *ngIf="
                form.controls['password'].errors
                  ? form.controls['password'].errors['pattern']
                  : ''
              "
              >Please enter Valid Password</span
            >
          </mat-error>
        </mat-form-field>
        <div class="forgot-password">
          <span style="cursor: pointer">Forgot Password</span>
        </div>
        <div class="form-action">
          <button
            mat-raised-button
            class="submit-btn"
            type="submit"
            (click)="doLogin()"
          >
            Log In <mat-icon class="login-icon">keyboard_arrow_right</mat-icon>
          </button>
          <button mat-raised-button class="submit-btn" type="button" (click)="doSignUp()">
            Sign Up 
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
